@import '@/lib/reset.scss';

  .ant-carousel .slick-slide {
    text-align: center;
    height: 445px;
    line-height: 445px;
    background: #364d79;
    overflow: hidden;
  }
 
  .ant-carousel .slick-dots{
      bottom: 90px;
  };
  .ant-carousel .slick-slide h3 {
    color: #fff;
  }
  .ant-carousel .slick-initialized .slick-slide div div{
    position: relative;
    height: 445px;
  }
.NavImg{
    position: relative;
    @include rect(100%,445px);
    @include margin(0 0 40px 0);
 
        img{
            transform: translateX(-50%);
            left: 50%;
            position: absolute;
            top: 0;
            width: auto; 
            height: 100%;
        }
    
    .overlayer{
        position: absolute;
        @include rect(100%,60px);
        @include background-color(rgba(0,0,0,.3));
        bottom: 0;
        
        ul{
            @include rect(100%,100%);
            @include flexbox();
            @include justify-content(center);
            li{
                @include justify-content(center);
                @include flexbox();
                @include align-items(center);
                @include rect(205px,100%);
                a{
                    @include text-color(#fff);
                    i{
                        font-size: 25px;
                        margin-right: 15px;
                    }
                }
            }
        }
    };
    .bracket-left,.bracket-rigth{
        @include rect(60px,120px);
        @include background-color(rgba(0,0,0,.3));
        position: absolute;
        top: 50%;
        @include flexbox();
        @include align-items(center);
        @include justify-content(center);
        span{
            font-size: 70px;
            color: #fff;
        }
        
    };
    .bracket-rigth{
        right: 0;
    }
};
.Choicenessbox{
    @include rect(100%,100%);
    @include flexbox();
    justify-content: space-between;
    .Choicenesssongtop,.Hotlisttop{
        @include align-items(center);
        @include flexbox();
        @include justify-content(space-between);
        @include margin(0 0 30px 0);
        a{
            color: #999;
            &:hover{
                color: #158fe1;
            }
        }
    }
    .Choicenesssong{
        @include rect(650px,100%);
        
        .ChoicenesssongImg{
            ul{
                @include rect(660px,325px);
                li{
                    float: left;
                    margin: 0 5px 5px 0;
                    position: relative;
                    a{
                        @include rect(100%,100%);
                        img{
                            @include rect(160px,160px);
                        };
                        .ChoicenesssongMsg{
                            @include flexbox();
                            position: absolute;
                            bottom: 0;
                            background-color: rgba(0,0,0,.5);
                            @include rect(100%,50px);
                            align-items: center;
                            .songMsg{
                                margin-left: 6px;
                                i{
                                    display: block;
                                    line-height: 19px;
                                    color: #fff;
                                    font-size: 14px;
                                    @include rect(100px,auto);
                                    overflow: hidden;
                                    text-overflow:ellipsis;
                                    white-space: nowrap;
                                    &:nth-child(2){
                                        color: #cfcfcf;
                                    }
                                }
                            }
                        };
                    };
                    &:nth-child(1){
                        a{
                            img{
                                @include rect(325px,auto);
                            };
                            .ChoicenesssongMsg{
                                .songMsg{
                                    i{
                                        @include rect(100%,auto);
                                    }
                                }
                            }
                        }
                    };
                    p{
                        @include rect(160px,30px);
                        position: absolute;
                        top: 0;
                        right: 0;
                        color: #fff;
                        line-height: 30px;
                        background:url(../../images/cptTBg.png) no-repeat;
                        span{
                            float: right;
                            margin-right: 5px;
                        }
                    };
                    
                }
            };
        }
    };
    .Hotlist{
        @include rect(320px,100%);
        .HotlistList{
            ul{
                li{
                    margin-bottom: 15px;
                    background-color: #f6f6f6;
                    a{
                        @include rect(100%,98px);
                        align-items: center;
                        @include flexbox();
                        font-size: 14px;
                        color: #333;
                        img{
                            @include rect(auto,98px);
                        }
                        ol{
                            padding: 0 10px;
                            p{
                                @include rect(180px,auto);
                                overflow: hidden;
                                text-overflow:ellipsis;
                                white-space: nowrap;
                                line-height: 24px;
                                &:nth-child(1){
                                    font-weight: bold;
                                }
                            }
                        }
                    }
                };
            }
        }
    };
    
};
.advertising{
   margin: 10px 0 40px 0;
};
.MuisMvbox{
    @include rect(100%,100%);
    @include flexbox();
    @include justify-content(space-between);
    .Muisbox{
        @include rect(660px,375px);
        margin-bottom: 10px;
        .Muisboxtop{
            position: relative;
            @include flexbox();
            @include justify-content(space-between);
            border-bottom: 1px solid #f0f0f0;
            padding-bottom: 20px;
            margin-bottom: 10px;
            ul{
                @include rect(auto,30px);
                @include flexbox();
                @include align-items();
                position: absolute;
                left: 140px;
                li{
                    @include margin(0 20px 0 0);
                    font-size: 14px;
                    a{
                        color: #333;
                        &:hover{
                            color: #158fe1;
                        }
                    }
                }
            };
            span{
                @include rect(90px,30px);
                a{
                    @include rect(100%,100%);
                    font-size: 14px;
                    display: inline-block;
                    border: 1px solid #dbdbdb;
                    border-radius: 2px;
                    line-height: 28px;
                    text-align: center;
                    color: #555;
                    &:hover{
                        color: #009af3;
                        border: 1px solid #009af3;
                    }
                }
            }
        };
        .MuisList{
            @include rect(100%,auto);
            ul{
                @include rect(100%,100%);
                li{

                    a{
                        margin: 0 10px;
                        @include rect(100%,35px);
                        @include flexbox();
                        align-items: center;
                        @include justify-content(space-between);
                        color: #333;
                        font-size: 13px;
                        // line-height: 35px;
                        p{
                            img{
                                margin-left: 4px;
                            }
                        };
                        b{
                                color: #333;
                                font-weight: 100;
                                i{
                                    color:#999;
                                    margin-left: 8px;
                                    font-size: 16px;
                                };
                                span{
                                    margin-left: 10px;
                                }
                        };
                        &:hover{
                            color: #009af3;
                            background-color: #f5f8fb;
                        }
                    }
                }
            };
            p{
                text-align: center;
                color: #8d8d8d;
                font-size: 12px;
                span{
                    font-size: 12px;
                    cursor: pointer;
                }
            }
        }
        
    };
    .Mvbox{
        @include rect(320px,325px);
        .Mvboxtop{
            @include rect(100%,30px);
            @include flexbox();
            color: #999;
            @include justify-content(space-between);
            margin-bottom: 20px;
        };
        .Mvrecommend{
            @include rect(320px,auto);
            ul{
                @include flexbox();
                flex-wrap: wrap;
                justify-content: space-between;
                li{
                    position: relative;
                    a{
                        @include rect(100%,100%);
                        img{
                            @include rect(154px,84px);
                            
                        };
                        .Mvname{
                            span{
                                @include rect(154px,auto);
                                display: block;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                white-space: nowrap;
                                color: #444;
                                font-size: 14px;
                            };
                            p{
                                color: #888;
                                font-size: 12px;
                            }
                        }
                    };
                    &:nth-child(1){
                        margin-bottom: 12px;
                        a{
                            img{
                                @include rect(100%,175px);
                            }
                            .Mvname{
                                @include rect(100%,50px);
                                background-color: rgba(0,0,0,.5);
                                position: absolute;
                                bottom: 0;
                                padding-left: 5px;
                                p{
                                    color: #cfcfcf;
                                    line-height: 25px;
                                };
                                span{
                                    line-height: 25px;
                                    color: #fff;
                                }
                            }
                        };
                    }
                }
            }
        }
    }
};
.Radiosinger{
    @include rect(100%,100%);
    .Radiosingerbox{
        @include rect(100%,100%);
        margin: 40px 0;
        @include flexbox();
        justify-content: space-between;
        .Radiobox{
            @include rect(650px,370px);
            .Radioboxtop{
                @include rect(100%,30px);
                @include flexbox();
                justify-content: space-between;
                align-items: center;
                margin-bottom: 30px;
                a{
                    color: #999;
                }
            };
            ul{
                @include rect(650px,310px); 
                @include flexbox();
                flex-wrap: wrap;
                justify-content: space-between;
                li{
                    margin-bottom: 25px;
                    @include rect(17%,auto);
                    a{
                        @include rect(100%,100%);
                        img{
                            @include rect(100px,100px);
                            margin-bottom: 10px;
                        }
                    };
                    p{
                        @include rect(100px,auto);
                        text-align: center;
                        font-size: 14px;
                    }
                }
            }
    
        };
        .singerbox{
            @include rect(330px,370px);
            .singerboxtop{
                @include rect(100%,30px);
                margin-bottom: 30px;
                @include flexbox();
                font-size: 14px;
                justify-content: space-between;
                align-items: center;
                a{
                    color: #999;
                };
                ul{
                    @include flexbox();
                    li{
                        margin-right: 10px;
                        font-size: 14px;
                        a{
                            color: #333;
                        }
                    }
                }

            };
            .Hotsingerbox{
                ul{
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    li{
                        position: relative;
                        a{
                            img{
                                @include rect(105px,105px);
                            };
                            p{
                                position: absolute;
                                bottom: 0;
                                color: #fff;
                                padding-left: 6px;
                                font-size: 13px;
                            }
                        };
                        &:nth-child(1),&:nth-child(2){
                            margin-bottom: 10px;
                            a{
                                img{
                                    @include rect(160px,160px);
                                }
                            }
                        }
                    }
                };
                p{
                    text-align: center;
                    padding-top: 17px;
                    span{
                        cursor: pointer;
                        color: #999;
                        &:hover{
                            color: #009af3;
                        }
                    }
                }
            }
        }
    };
};
.cooperationbox{
    .cooperation{
        img{
            margin: 30px 0;
        }
        ul{
            @include flexbox();
            flex-wrap: wrap;
            justify-content: space-between;
            img{
                margin:0 0 12px 0;
                border: 1px dashed #ccc;
            }
        }
    }
};
.friendship{
    .friendshiptop{
        @include rect(100%,auto);
        @include flexbox();
        justify-content: space-between;
        margin: 30px 0;
        p{
            color: #999;
        }
    };
    ul{
        @include rect(100%,auto);
        @include flexbox();
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 20px;
        li{
            @include rect(125px,auto);
            margin-bottom: 20px;
           a{
                @include rect(125px,auto);
                font-size: 14px;
                color: #555;
                &:hover{
                    color: #009af3;
                }
           }
        }
    }
}